body {
    margin: 0;
    background-color: white;
    font-family: "Sora", sans-serif !important;
    height: 100vh;
    overflow-y: auto;
}

.imagen-fondo{
    background-image: url(../images/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.contenedor-vista{
    background-color: white;
    height: 100%;
}

/* CSS botones*/

.boton-inicio-sesion {
    background-color: #EBE2A1;
    width: 200px;
    height: 35px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 15px;
}

.boton-inicio-sesion:hover {
    color: white;
    background-color: #c2b86f;
}

.boton-volver-inicio {
    color: black;
    flex: 0 0 auto;
    padding: 7px 12px;
    border-radius: 50%;
    margin-left: 50px;
}

.boton-volver-inicio:hover {
    color: white;
    background-color: black;
    padding: 7px 12px;
    border-radius: 50%;
    transition: 0.5s ease-in-out;
}

/* CSS formulario inicio sesion */

.contenedor-formulario-inicioSesion {
    background-color: white;
    height: 600px;
    width: 800px;
    border-radius: 10px;
    text-align: center;
    border-radius: 20px;
}

.contenedor-formulario-Registro {
    background-color: white;
    height: 600px;
    width: 1200px;
    border-radius: 10px;
    text-align: center;
    border-radius: 20px;
}

.contenedor-input-formulario {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 445px;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.input-formulario {
    width: 300px;
}

.titulo-inicio {
    margin: 20px 0px 20px 0px;
    font-weight: 800;
    flex: 1;
}

/* CSS registro*/

.elementos-top-registro {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* CSS inicio_Estudiante */

.contenedor-inicio-estudiante {
    background-color: white;
    height: 100%;
}

.contenedor-listado-tutorias {
    padding: 72px 72px 0px 72px;
    max-height: 700px;
}

.listado-tutorias {
    overflow-y: auto;
    max-height: 600px;
}

.titulo-listado-tutoria {
    font-size: 2rem;
    margin-bottom: 30px;
    font-weight: bold;
}

.titulo-filtros {
    margin-top: 58px;
    font-weight: bold;
}

nav {
    background-color: #EBE2A1;
    padding: 16px 40px 16px 40px;
    height: 145px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.contenedor-busqueda {
    gap: 16px;
    
}

.btn-buscar-navbar {
    background-color: white;
    border: none;
    height: 44px;
    padding: 10px 16px 10px 16px;
}

.navbar-busqueda {
    border: none;
    width: 900px;
    height: 44px;
    padding: 10px 0px 10px 10px;
    border-style: none;
}

.opciones-navbar {
    gap: 32px;
}

.nav-link {
    font-weight: bold;
    font-size: 0.8rem;
}

.contenedor-busqueda a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
}

.opcion-verPerfil {
    border: none;
    background: none;
    display: flex;
    align-items: center;
    gap: 5px;
}



.dropdown-menu{
    border-style: none;

}

.dropdown-menu a{
    font-size: small;
}

.contenedor-busqueda .contenedor-perfil i {
    font-size: 2rem;
}

.opciones-navbar a {
    padding: 10px;
    border-radius: 10px;
}

.opciones-navbar .nav-link:hover {
    background-color: #c2b86f;
    color: white;
}

.card-body {
    display: flex;
    justify-content: space-between;
}

.icono-perfil-card {
    font-size: 2rem;
}

/* CSS notificaciones */

.contenedor-vista-notificaciones {
    background-color: white;
    height: 100%;
}

.contenedor-listado-notificaciones{
    padding: 72px 72px 0px 72px;
}

.titutlo-listado-notifiaciones {
    font-size: 2rem;
    margin-bottom: 30px;
    font-weight: bold;
}

.boton-verPerfil-notificacion {
    background-color: #EBE2A1;
    height: 35px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    padding: 0px 32px;
}

.boton-verPerfil-notificacion:hover{
    color: white;
    background-color: #c2b86f;
}

/*CSS vista mi perfil*/

.icono-verPerfil{
    font-size: 4rem;
}

.texto-nombre-perfil{
    font-weight: bold;
    font-size: 1.4rem;
}

.informacion-usuario{
    background-color: #F6F6F6;
    border-radius: 20px;
    padding: 20px;
}

.contenedor-miperfil{
    padding: 72px 180px 0px 180px;
}

/*Media query*/

@media (max-width: 990px) {

    .contenedor-formulario-Registro {
        width: 400px;
        overflow: hidden;
        overflow-y: auto;
    }

    .row {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .contenedor-input-formulario {
        width: 300px;
    }

    .input-formulario {
        width: 300px;
    }

    .boton-volver-inicio {
        display: none;
    }
}


/* CSS de cards */

.border-start{
    border-color: #EBE2A1!important;
}

.card{
    background-color: #F6F6F6;
}

.esp-card{
    padding-right: 20px;
}

/* CSS de ¿quiere ser tutor? */

.contenedor-quieres-ser-tutor {
    padding: 72px 72px 64px 72px;
}

.cnt h1{
    padding-bottom: 15px;
}

.cnt {
    padding: 0 200px 0 200px ;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}
  
.dropdown>.dropdown-toggle:active {
    
    pointer-events: none;
}

/* CSS solicitud_tutoria formulario */

.contenedor-formulario-solicitud{
    padding: 72px 0px;
}

.formulario {
    background-color: white;
    width: 500px;
    margin: 0 auto;
    padding: 50px;
    border: 1px solid #ccc;
    border-radius: 20px;
}

.formulario h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
    height: 45px;
    font-weight: bold;
    
}

.formulario input,
.formulario select,
.formulario textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #ccc;
    border-radius: 10px;
}

.formulario button {
    
    background-color: #EBE2A1;
    text-align: center;
    width: 200px;
    height: 35px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 15px;
    color: rgb(3, 3, 3);
    right: auto;

}

.formulario button:hover {
    color: white;
    background-color: #c2b86f;
}

.contenedor-barra{
    padding-top: 13px;
}

.contenedor-perfil{
    padding-top: 5px;
}